<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0"
	name="de.twentyeleven.skysail.server.restlet.internal.Configuration">
	
	<implementation
		class="de.twentyeleven.skysail.server.restlet.internal.Configuration" />
	<service>
    	<provide interface="de.twenty11.skysail.server.services.ApplicationProvider"/>
 	</service>
 	
</scr:component>
