<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource
			class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>com.mysql.jdbc.Driver</driverClass>
			<url>jdbc:mysql://localhost:3306/skysailosgi</url>
			<user>root</user>
			<password></password>
		</connectionSource>
	</appender>
 -->

	<appender name="memory" class="skysail.server.osgi.logging.memoryAppender.MemoryAppender" />
	
	<root level="info">
		<appender-ref ref="STDOUT" />
		<!--appender-ref ref="DB" /-->
		<appender-ref ref="memory" />
	</root>

</configuration>